<section>
    <div class="box-title">
      <div class="text-title">
        <p>Educación</p>
      </div>

      <div class="list">
        <ul class="card-list">
          <li class="item-list">
            <div class="item-head">
              <div class="item-name">
                <h3></h3>
              </div>
              <div class="edit-icons">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true" style="font-size:24px"></i>
              </div>
            </div>
            <div class="item-content">
              <div class="item-img">
                <img src="">
              </div>
              <div class="item-texto">
                <div class="puesto">
                  <p></p>
                </div>
                <div class="descripcion">
                  <p>Planificacion y dictado de clases, coordinacion de grupos de trabajos de campo</p>
                </div>
                <div class="periodo">
                  <p></p>
                </div>
              </div>
            </div>

          </li>
          <li class="item-list">
            <div class="item-head">
              <div class="item-name">
                <h3>Facultad de Psicología - Universidad de Buenos Aires</h3>
              </div>
              <div class="edit-icons">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true" style="font-size:24px"></i>
              </div>
            </div>
            <div class="item-content">
              <div class="item-img">
                <img src="./logosTrabajo/imagenes/uba.png">
              </div>
              <div class="item-texto">
                <div class="puesto">
                  <p>Ayudante de primera</p>
                </div>
                <div class="descripcion">
                  <p>Planificacion y dictado de clases, coordinacion de grupos de trabajos de campo</p>
                </div>
                <div class="periodo">
                  <p>1999-2010</p>
                </div>
              </div>
            </div>

          </li>

        </ul>
      </div>
    </div>
  </section>

