<section class="acercaDeMi">
    <div class="imagen">
      <img id="perfilfoto" src="../../../assets/fotos/foto 2022.jpg" alt="foto de perfil">
    </div>

    <div class="text-acercaDeMi">
      <h1>ACERCA DE MI</h1>
      <p class="descripcion">Tengo 45 años, soy psicologa y estoy comenzando el apasionante camino del mundo IT.
      </p>
      <p class="descripcion"> Mi objetivo primordial es encontrar una oportunidad para desarrollarme en este campo.
      </p>
      <p class="descripcion">Quienes me rodean, destacan mi agudeza para observar y transmitir eficazmente las
        ideas.</p>
      <p class="descripcion">Tengo gran habilidad de aprendizaje y resiliencia. Esto me permite ser flexible para
        afrontar nuevos desafios. </p>
      <p class="descripcion">Me apasiona trabajar en grupo y mejorar el ambiente laboral.</p>
    </div>

    <div class="frase">
      <p><small>“Todo el mundo es un genio. Pero si juzgas a un pez por su habilidad para trepar un árbol, vivirá
          toda su vida creyendo que es un necio”</small></p>
    </div>
  </section>

