<header class="container-header">
    <div class="header-logo">
      <img src="./fotos/logoArgentinaPrograma.png">
      <img id="logoMinisterio" src="./fotos/logoministerio.png">
    </div>

    <nav class="header-nav">
      <div class="nav-social-icons">
        <a href="https://www.linkedin.com/in/mariana-pena-263426226"><i
            class="fa fa-linkedin animate__animated animate__flip" style="font-size:26px"></i></a>
        <a href="https://wa.me/+5491166582338"> <i class="fa fa-whatsapp animate__animated animate__flip"
            style="font-size:26px"></i></a>
        <a href="mailto:marianapenamovil@gmail.com"><i class="fa fa-at animate__animated animate__flip"
            style="font-size:26px"></i></a>
        <a href="https://github.com/MarianaPenaAntuna"><i class="fa fa-github animate__animated animate__flip"
            style="font-size:26px"></i></a>
      </div>

      <app-login 
      color="white" 
      text="Login"
      (btnClick)="toggleLogin()"
      ></app-login> 


    </nav>


  </header>

  <main class="container-main">
        <div class="banner">

        <div class="animated-title">
          <div class="text-top">
            <div>
              <span>Mariana Pena</span>
            </div>
          </div>
          <div class="text-bottom">
            <div>Full Stack Jr.</div>
          </div>
        </div>

      </div>

  </main>

