<section>
    <div class="box-title">
      <div class="text-title">
        <p>Skills</p>
      </div>
      <div class="container-circulos">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <div class="h2">87<span>%</span></div>
            </div>
          </div>
          <h2 class="text">Progress</h2>
        </div>

        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <div class="h2">87<span>%</span></div>
            </div>
          </div>
          <h2 class="text">Progress</h2>
        </div>
      </div>
    </div>
  </section>

