<section>
  <div class="box-title">
    <div class="text-title">
      <p>Skills</p>
    </div>
    <div class="container-circulos">
      <div class="row">
        <div class="col-4">
          <circle-progress 
        [percent]="porcentaje" 
        [title]="nombre"
        [unitsColor]="'black'"
        [titleFontSize]="'20'"
        [subtitleFontSize]="'25'"
        [subtitleColor]="'black'"
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#A0BCC2'" 
        [innerStrokeColor]="'grey'" 
        [animation]="true" 
        [animationDuration]="1000">
        </circle-progress>
        </div>
      </div>

    </div>
  </div>
</section>